.work_info:after{
	display: block;
	content: "";
	clear: both;
}
#main{
	margin:  auto;
	padding: 0 20px;
	max-width: 1024px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
#firstview{
	position: relative;
	width: 100%;
	max-height: 300px;
	height: 100vh;
}
#firstview .fv_title{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform: translate(-50%,-50%);
}

#profile{
	margin-bottom: 20px;
	width: 100%;
}
#profile .prof_title{
	margin-bottom: 30px;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	box-sizing: border-box;
}
#profile .prof_info{
	display: flex;
	padding-bottom: 30px;
}
#profile .about{
	width: 30%;
}
#profile .about:nth-of-type(2){
	margin: 0 5%;
}
#profile .about_title{
	text-align: center;
	color: #fff;
}
#profile .thumbnail{
	margin: 20px 0;
	border: 1px solid #fff;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}
#profile .about a{
	text-decoration: underline;
}
#profile .about_info{
	list-style: none;
}

#work{
	margin-bottom: 20px;
	width: 100%;
}
#work .work_title{
	margin-bottom: 30px;
	padding: 10px 0;
	text-align: center;
	color: #fff;
}
#work .work_info{
	list-style: none;
}
#work .work_link{
	float: left;
	margin-bottom: 30px;
	width: 30%;
	text-align: center;
}
#work .work_link:nth-of-type(2),
#work .work_link:nth-of-type(5){
	margin: 0 5%;
}
#work .work_link a{
	display: block;
	width: 100%;
	height: 100%;
}
#work .thumbnail{
	border: 1px solid #fff;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}

#contact{
	width: 100%;
}
#contact .contact_title{
	margin-bottom: 30px;
	padding: 10px 0;
	text-align: center;
	color: #fff;
}
#contact form{
	margin: 0 auto;
	padding-bottom: 30px;
	max-width: 500px;
	width: 100%;
}
#contact form .send{
	margin-bottom: 10px;
}
#contact form input{
	width: 100%;
	color: #000;
	box-sizing: border-box;
}
#contact form textarea{
	width: 100%;
	color: #000;
	box-sizing: border-box;
}
#contact form .btn{
	display: flex;
}
#contact form button{
	margin: 0 5%;
	border: 1px solid #fff;
	width: 40%;
	height: 50px;
	background-color: transparent;
}

#totop{
	width: 100%;
	height: 75px;
}
#totop .totop_img{
	margin: 0 auto;
	width: 150px;
}
#totop img{
	margin-top: 1px;
	width: 150px;
}
@media screen and (max-width : 767px){
	#profile{
		margin-bottom: 0;
	}
	#profile .prof_info{
		display: block;
	}
	#profile .about{
		margin: 0 auto 20px;
		min-width: 280px;
		width: 50%;
	}
	#profile .about:nth-of-type(2){
		margin: 0 auto 20px;
	}

	#work{
		padding: 0 20px;
		box-sizing: border-box;
	}
	#work .work_link{
		width: 48%;
	}
	#work .work_link:nth-of-type(2),
	#work .work_link:nth-of-type(5){
		margin: 0 0 30px 0;
	}
	#work .work_link:nth-of-type(odd){
		margin-right: 4%;
	}
	#contact{
		padding: 0 20px;
		box-sizing: border-box;
	}
}
@media screen and (max-width : 480px){
	#work .work_link{
		width: 100%;
	}
	#contact form button{
		height: 40px;
	}
	#totop{
		height: 50px;
	}
	#totop .totop_img{
		width: 100px;
	}
	#totop img{
		width: 100px;
	}
}